<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db_NationalCriminalDBConnectionString" connectionString="Data Source=(local);Initial Catalog=db_NationalCriminalDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!--SMTP Settings-->
    <add key="SmtpPort" value="587" />
    <add key="SmtpHost" value="mail.artwalkmobile.com" />
    <add key="SmtpEnableSSL" value="False" />
    <add key="SmtpTimeout" value="99999" />
    <add key="SmtpUsername" value="info@artwalkmobile" />
    <add key="SmtpPassword" value="art1234" />
    <add key="SmtpFrom" value="info@emlakrobotum.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="NationalCriminalDB.EmailService.EmailService" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:14755/EmailService.svc"   />
          </baseAddresses>
        </host>
        <endpoint address=""  binding="wsHttpBinding" contract="NationalCriminalDB.EmailService.IEmailService" bindingConfiguration="wsMessage" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization>
            <authorizationPolicies>
              <add policyType="NationalCriminalDB.EmailService.HttpContextAuthorizationPolicy,
                   NationalCriminalDB.EmailService, Version=1.0.0.0,
                   Culture=neutral, PublicKeyToken=null"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsMessage" >
          <security mode="Message" >
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
