@{
    ViewBag.Title = "National Criminal Database : Home Page";
}

<div class="jumbotron">
    <h1>National Criminal Database</h1>
    <p class="lead">A Crossover C# Web application and service to facilitate search in the National Criminal Database</p>
    <p><a href="http://crossover.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Welcome to National Criminal Database</h3>
        <h4>Please register or login to make a search in National Criminal Database</h4>
    </div>
</div>