@{
    ViewBag.Title = "National Criminal Database : Home Page";
}

<div class="jumbotron">
    <h1>National Criminal Database</h1>
    <p class="lead">A Crossover C# Web application and service to facilitate search in the National Criminal Database</p>
    <p><a href="http://crossover.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Please Register to make a search</h2>
    </div>
</div>